* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Dancing Script", cursive;
  width: 100%;
}

h1 {
  font-size: 48px;
  text-align: center;
  padding-top: 2%;
}

.container {
  height: 570px;
  background-color: red;
  margin: 0 5% 0;
  padding: 0;
  border-radius: 10px;
  position: relative;
}

.grid-lines-container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 320px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: white;
  /* gap: 1px; */
  align-items: stretch;
}

.box {
  /* border: 1px solid black; */
  /* width: 3px; */
  /* background-color: gray; */
  /* margin: 1px; */
  display: inline-block;
  height: auto;
  /* flex-basis: calc(100% / 10); */
}

.set-grid-boxes > label{
  display: none;
}

.set-grid-boxes > input, .set-grid-boxes > button{
  height: 40px;
  padding: 5px;
  background-color: white;
  font-size: 18px;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.set-grid-boxes {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* border: 2px solid pink; */
  left: 10px;
  top: 230px;
  width: 100px;
  height: auto;
  gap: 10px;
  /* right: 10px;
    top: 230px; */
}

.colors-button {
  position: absolute;
  bottom: 10px;
  right: 50px;
  display: flex;
  gap: 5px;
  margin: 0;
}

.select-button {
  font-family: "Dancing Script", cursive;
  font-size: 18px;
  padding: 10px;
  background-color: white;
}

.color {
  /* position: absolute; */
  bottom: 10px;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#mouse-color, #text-color, #with-border, #w-o-border{
  background: white;
}

#black-button,
#random-color {
  margin: auto 0;
}

.clear {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: auto;
  gap: 10px;
  right: 10px;
  top: 230px;
  position: absolute;
}

.grid-placeholder-button {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;

}

#with-border, #w-o-border{
  margin: auto 0;
  font-family: "Dancing Script", cursive;
}

.grid-button {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 20px;
  gap: 5px;
  margin: 0;
  height: auto;
}

footer {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
}
